<!--  +++++++++++++++++++  MULTIMEDIA  ++++++++++++++++++++++++++++++ -->
<div class="contenido0 container-fluid" *ngIf="identity && identity.role=='ROLE_ADMIN'" >
	<div class="row justify-content-center">
		<i class="info">Ingresa la nueva contraseña del usuario que deseas y da clic en actualizar. </i>
	</div> <hr>
	<div class="row justify-content-center">
		<div class="col-12 col-md-10">
			<div class="row justify-content-center">
				<mat-button-toggle-group >
					<mat-button-toggle (click)="multi()" >Multimedia</mat-button-toggle>
					<mat-button-toggle (click)="assig()" >Asignaturas</mat-button-toggle>
				</mat-button-toggle-group>	
			</div> <hr class="col-10 col-md-6">
			<div class="row justify-content-center">
				<form #dataForm="ngForm" (ngSubmit)="onSubmit(dataForm);dataForm.reset()" *ngIf="option=='multi'"  class="col-10 col-md-6 col-lg-4">		
					<label for="passwordMulti">Contraseña para usuario Multimedia</label>									
					<input type="hidden" name="id" [(ngModel)]="multi_user.user_id">
					<mat-form-field class="inputMulti">
						<input matInput name="passwordMulti" #passwordMulti="ngModel" [(ngModel)]="multi_user.password"
						placeholder="Ingresa tu nueva contraseña" [type]="hide ? 'password' : 'text'" required >
						<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
					</mat-form-field>								
					<input type="submit" value="Actualizar" class="btn btn-primary col-8 offset-2 col-lg-6 offset-lg-3" [disabled]="!dataForm.form.valid"/>				
				</form>
			</div>
			<div class="row justify-content-center" *ngIf="option=='assig'">
				<label class="col-10 labelcenter">Actualizar contraseña para una asignatura</label>
				<form class="col-10 col-md-6 col-lg-4">
					<mat-form-field class="inputMulti">
						<input class="" type="text" class="" placeholder="Selecciona asignatura" 
						matInput [formControl]="myControl" [matAutocomplete]="auto">				
						<mat-icon matSuffix >keyboard_arrow_down</mat-icon>							
						<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
							<mat-option *ngFor="let option of filteredOptions | async" [value]="option">
							{{option.assignment_name}}
							</mat-option>
						</mat-autocomplete>
					</mat-form-field>						
				</form>					
			</div>
			<div class="row justify-content-center" *ngIf="option=='assig' && myControl.value!=null" >
					<form #dataAdminForm="ngForm" (ngSubmit)="onSubmit(dataAdminForm);dataAdminForm.reset()" class="col-6 col-sm-6 col-md-4">					
							<label>Usuario Administrador: </label>
							<input type="hidden" name="idAdmin" [(ngModel)]="admin_prof_user.user_id">						
							<mat-form-field class="inputMulti">
								<input matInput name="passwordAdmin" [(ngModel)]="admin_prof_user.password"
								placeholder="Ingresa la nueva contraseña" [type]="hide ? 'password' : 'text'" required>
								<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
							</mat-form-field>			
							<input type="hidden" name="opt" [(ngModel)]="admin_prof_user.role" >									
							<input type="submit" value="Actualizar" class="btn btn-primary col-8 offset-2 col-lg-6 offset-lg-2" [disabled]="!dataAdminForm.form.valid"/>					
					</form>
					<form #dataProfForm="ngForm" (ngSubmit)="onSubmit(dataProfForm);dataProfForm.reset()"  class="col-6 col-sm-6 col-md-4">
							<label>Usuario Maestro:</label>
							<input type="hidden" name="idProf" [(ngModel)]="prof_user.user_id">						
							<mat-form-field class="inputMulti">
								<input matInput name="passwordProf" [(ngModel)]="prof_user.password"
								placeholder="Ingresa la nueva contraseña" [type]="hide ? 'password' : 'text'" required>
								<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
							</mat-form-field>							
							<input type="hidden" name="optProf" [(ngModel)]="prof_user.role" >
							<input type="submit" value="Actualizar" class="btn btn-primary col-8 offset-2 col-lg-6 offset-lg-2" [disabled]="!dataProfForm.form.valid"/>					
					</form>
			</div>
		</div>
	</div>
</div>
<div class="container contenido" *ngIf="identity && identity.role=='ROLE_ADMIN'"  >	
		<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">

			<div *ngIf="option=='assig'">	
				<div class="col-lg-8 col-lg-offset-2">
					
					<br>
				</div>
				
				
			</div>
			
		</div>
	</div>
<!--  +++++++++++++++++++  FIN MULTIMEDIA ++++++++++++++++++++++++++++++ -->

	
<!--  +++++++++++++++++++  Plantilla 1 ++++++++++++++++++++++++++++++ -->
<div class="contenido1 justify-content-center" *ngIf="this.template_select=='first'">
	<div class="row justify-content-center">
		<i class="info">Ingresa la nueva contraseña del usuario que deseas y da clic en actualizar. </i>
	</div> <hr>
	<div class="row justify-content-center">
		<form #dataAdminForm="ngForm" (ngSubmit)="onSubmit(dataAdminForm);dataAdminForm.reset()" class="col-6 col-sm-6 col-md-4 col-lg-3">					
				<label>Usuario Administrador: </label>
				<input type="hidden" name="idAdmin" [(ngModel)]="admin_prof_user.user_id">						
				<mat-form-field class="inputMulti">
					<input matInput name="passwordAdmin" [(ngModel)]="admin_prof_user.password"
					placeholder="Ingresa la nueva contraseña" [type]="hide ? 'password' : 'text'" required>
					<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
				</mat-form-field>			
				<input type="hidden" name="opt" [(ngModel)]="admin_prof_user.role" >									
				<input type="submit" value="Actualizar" class="btn btn-primary col-8 offset-2 col-lg-6 offset-lg-2" [disabled]="!dataAdminForm.form.valid"/>					
		</form>
		<form #dataProfForm="ngForm" (ngSubmit)="onSubmit(dataProfForm);dataProfForm.reset()"  class="col-6 col-sm-6 col-md-4 col-lg-3">											
				<label>Usuario Maestro:</label>
				<input type="hidden" name="idProf" [(ngModel)]="prof_user.user_id">						
				<mat-form-field class="inputMulti">
					<input matInput name="passwordProf" [(ngModel)]="prof_user.password"
					placeholder="Ingresa la nueva contraseña" [type]="hide ? 'password' : 'text'" required>
					<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
				</mat-form-field>							
				<input type="hidden" name="optProf" [(ngModel)]="prof_user.role" >
				<input type="submit" value="Actualizar" class="btn btn-primary col-8 offset-2 col-lg-6 offset-lg-2" [disabled]="!dataProfForm.form.valid"/>					
		</form>
	</div>
</div>
<!--  +++++++++++++++++++  FIN Plantilla 1 ++++++++++++++++++++++++++++++ -->


<!--  +++++++++++++++++++  Plantilla 2 ++++++++++++++++++++++++++++++ -->
<div class="contenido2" *ngIf="this.template_select=='second'" >
	<div class="row justify-content-center">
		<i class="info">Ingresa la nueva contraseña del usuario que deseas y da clic en actualizar. </i>
	</div> <hr>
	<div class="row justify-content-center">
		<form #dataAdminForm="ngForm" (ngSubmit)="onSubmit(dataAdminForm);dataAdminForm.reset()" class="col-8 col-md-6">					
				<label>Usuario Administrador: </label>
				<input type="hidden" name="idAdmin" [(ngModel)]="admin_prof_user.user_id">						
				<mat-form-field class="inputMulti">
					<input matInput name="passwordAdmin" [(ngModel)]="admin_prof_user.password"
					placeholder="Nueva contraseña" [type]="hide ? 'password' : 'text'" required>
					<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
				</mat-form-field>			
				<input type="hidden" name="opt" [(ngModel)]="admin_prof_user.role" >									
				<input type="submit" value="Actualizar" class="btn btn-primary col-10 offset-1 btn-sm" [disabled]="!dataAdminForm.form.valid"/>					
		</form>
		<form #dataProfForm="ngForm" (ngSubmit)="onSubmit(dataProfForm);dataProfForm.reset()"  class="col-8 col-md-6">											
				<label>Usuario Maestro:</label>
				<input type="hidden" name="idProf" [(ngModel)]="prof_user.user_id">						
				<mat-form-field class="inputMulti">
					<input matInput name="passwordProf" [(ngModel)]="prof_user.password"
					placeholder="Nueva contraseña" [type]="hide ? 'password' : 'text'" required>
					<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
				</mat-form-field>							
				<input type="hidden" name="optProf" [(ngModel)]="prof_user.role" >
				<input type="submit" value="Actualizar" class="btn btn-primary col-10 offset-1 btn-sm" [disabled]="!dataProfForm.form.valid"/>					
		</form>
	</div>
</div>
<!--  +++++++++++++++++++  FIN Plantilla 2 ++++++++++++++++++++++++++++++ -->


<!--  +++++++++++++++++++  Plantilla 3 ++++++++++++++++++++++++++++++ -->
<div class="contenido3 justify-content-center" *ngIf="this.template_select=='third'">
	<div class="row justify-content-center">
		<i class="info">Ingresa la nueva contraseña del usuario que deseas y da clic en actualizar. </i>
	</div> <hr>
	<div class="row justify-content-center">
		<form #dataAdminForm="ngForm" (ngSubmit)="onSubmit(dataAdminForm);dataAdminForm.reset()" class="col-6 col-sm-6 col-md-4 col-lg-3">					
				<label>Usuario Administrador: </label>
				<input type="hidden" name="idAdmin" [(ngModel)]="admin_prof_user.user_id">						
				<mat-form-field class="inputMulti">
					<input matInput name="passwordAdmin" [(ngModel)]="admin_prof_user.password"
					placeholder="Ingresa la nueva contraseña" [type]="hide ? 'password' : 'text'" required>
					<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
				</mat-form-field>			
				<input type="hidden" name="opt" [(ngModel)]="admin_prof_user.role" >									
				<input type="submit" value="Actualizar" class="btn btn-primary col-8 offset-2 col-lg-6 offset-lg-2" [disabled]="!dataAdminForm.form.valid"/>					
		</form>
		<form #dataProfForm="ngForm" (ngSubmit)="onSubmit(dataProfForm);dataProfForm.reset()"  class="col-6 col-sm-6 col-md-4 col-lg-3">											
				<label>Usuario Maestro:</label>
				<input type="hidden" name="idProf" [(ngModel)]="prof_user.user_id">						
				<mat-form-field class="inputMulti">
					<input matInput name="passwordProf" [(ngModel)]="prof_user.password"
					placeholder="Ingresa la nueva contraseña" [type]="hide ? 'password' : 'text'" required>
					<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
				</mat-form-field>							
				<input type="hidden" name="optProf" [(ngModel)]="prof_user.role" >
				<input type="submit" value="Actualizar" class="btn btn-primary col-8 offset-2 col-lg-6 offset-lg-2" [disabled]="!dataProfForm.form.valid"/>					
		</form>
	</div>
</div>
<!--  +++++++++++++++++++  FIN Plantilla 3 ++++++++++++++++++++++++++++++ -->