/*+++++++++++++++ Plantilla 1 +++++++++++++++++ */ 
.contenido1{
    margin-bottom: 10%;
    margin-top: 12%;
}
.matfield{
    width: 90%;
}
.mat-optgroup{
    font-size: 0.8em;
}
.info{
    font-size: 0.8em;
}
/*Extra small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 575.98px){
    .contenido1{
        margin-bottom: 30%;
        margin-top: 35%;
    }
}
/*Small devices (landscape phones, 576 - 768px)*/
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
	.contenido1{
         margin-top: 30%;
    }
}
@media only screen and (min-width: 768px) and (max-width : 992px) {
	.contenido1{
         margin-top: 20%;
         margin-bottom: 35%;
    }
}/*// Large devices (desktops, 992 - 1200px)*/
@media only screen and (min-width: 992px) and (max-width: 1199.98px){
    .contenido1{
        margin-top: 20%;
    }
}


/*+++++++++++++++ Plantilla 2 +++++++++++++++++ */ 
.contenido2{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
    margin-bottom: 5%;
}
/*Extra small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 575.98px) {
	.contenido2{
        margin-left: 20%;
        margin-right: 20%; 
        margin-top: 20%;
        margin-bottom: 10%;
    }
    .info{
        font-size: 0.7em;
    }
    .matfield{
        font-size: 0.7em;
    }
}
/*Small devices (landscape phones, 576 - 768px)*/
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .contenido2{
        margin-top: 20%;
        margin-bottom: 10%;
   }
   .matfield{
        font-size: 0.7em;
    }
}
/* Medium devices (tablets, 768 - 992px)*/
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .contenido2{
        margin-top: 15%;
        margin-bottom: 10%;
    }
    .matfield{
        font-size: 0.7em;
    }
}


/*+++++++++++++++ Plantilla 3 +++++++++++++++++ */ 
.contenido3{
    margin-top: 15%;    
    margin-bottom: 10%;
}
.contenido3 .row{
    margin-right: 0;
}
/*Extra small devices (portrait phones, less than 576px)*/
@media only screen and (max-width: 575.98px) {
	.contenido3{
         margin-top: 40%;
         margin-bottom: 30%;
         font-size: 0.8em;
         margin-left: 5%;
         margin-right: 5%;
    }
    
}
/*Small devices (landscape phones, 576 - 768px)*/
@media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .contenido3{
        margin-top: 30%;
        margin-bottom: 10%;
        font-size: 0.8em;
        margin-left: 5%;
        margin-right: 5%;
   }
}
/* Medium devices (tablets, 768 - 992px)*/
@media only screen and (min-width: 768px) and (max-width: 991.98px) {
    .contenido3{
        margin-top: 25%;
        margin-bottom: 10%;
   }
}
