<!--  +++++++++++++++++++  Plantilla 1 ++++++++++++++++++++++++++++++ -->
<div class="container contenido1" *ngIf="this.template_select=='first'" >
    <div class="row justify-content-center">
        <div class="col-md-4" > 
                <h2> <i class="material-icons myicons">forum </i>Ponte en contacto</h2> <br>                
                <h4> <i class="material-icons myicons">email</i>Correo:</h4>            
                multimediaunam@gmail.com  <hr>
                <h4><i class="material-icons myicons">http</i> Sitio web: </h4>                
                <a href="http://mmedia1.fi-b.unam.mx/">mmedia1.fi-b.unam.mx</a> <hr>
                <h4> <i class="material-icons myicons">public</i>Redes Sociales</h4>
               <p> <a href="https://www.facebook.com/multimediaFI/" target="blank">@MultimediaFI</a>
                    <img    src="{{url + 'getsImage/' + 'facebook.png'}}" alt="Facebook"
                            class="twitter1 mx-auto d-block img-fluid"> <br>
                </p>  
                <p>
                    <a href="https://twitter.com/MultimediaUNAM">@MultimediaUNAM</a>
                    <img    src="{{url + 'getsImage/' + 'twitter.png'}}" alt="LMeI"
                    class="twitter1 mx-auto d-block img-fluid}"> 
                </p>   <hr>
        </div>
        <div class="col-12 col-md-8">                
            <h2> <i class="material-icons myicons">place </i>Ubicación</h2>
            <p>  Edificio Q "Luis G. Valdés Vallejo", Salón Q006. Planta Baja. Facultad de Ingeniería UNAM. </p>
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d583.084888441274!2d-99.18251405696111!3d19.327860826183983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2smx!4v1520562586089"  height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>    
</div>   
<!--  +++++++++++++++++++  FIN Plantilla 1 ++++++++++++++++++++++++++++++ -->



<!--  +++++++++++++++++++  Plantilla 2 ++++++++++++++++++++++++++++++ -->
<div class="container contenido2" *ngIf="this.template_select=='second'">
    <div class="row justify-content-center">
        <div class="col-8 col-md-3" > 
                <h2> <i class="material-icons myicons">forum </i>Ponte en contacto</h2> <br>                
                <h4> <i class="material-icons myicons">email</i>Correo:</h4>            
                multimediaunam@gmail.com  <hr>
                <h4><i class="material-icons myicons">http</i> Sitio web: </h4>                
                <a href="http://mmedia1.fi-b.unam.mx/">mmedia1.fi-b.unam.mx</a> <hr>
                <h4> <i class="material-icons myicons">public</i>Redes Sociales</h4>
               <p> <a href="https://www.facebook.com/multimediaFI/" target="blank">@MultimediaFI</a>
                    <img    src="{{url + 'getsImage/' + 'facebook.png'}}" alt="Facebook"
                            class="twitter1 mx-auto d-block img-fluid"> <br>
                </p>  
                <p>
                    <a href="https://twitter.com/MultimediaUNAM">@MultimediaUNAM</a>
                    <img    src="{{url + 'getsImage/' + 'twitter.png'}}" alt="LMeI"
                    class="twitter1 mx-auto d-block img-fluid"> 
                </p>   <hr>
        </div>
        <div class="col-8 col-md-6">                
            <h2> <i class="material-icons myicons">place </i>Ubicación</h2>
            <p>  Edificio Q "Luis G. Valdés Vallejo", Salón Q006. Planta Baja. Facultad de Ingeniería UNAM. </p>
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d583.084888441274!2d-99.18251405696111!3d19.327860826183983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2smx!4v1520562586089"  height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>  
</div>
<!--  +++++++++++++++++++  FIN Plantilla 2 ++++++++++++++++++++++++++++++ -->


<!--  +++++++++++++++++++  Plantilla 3 ++++++++++++++++++++++++++++++ -->
<div class="contenido3" *ngIf="this.template_select=='third'">
        <div class="row justify-content-center">
                <div class="col-10 col-md-4" > 
                        <h2> <i class="material-icons myicons">forum </i>Ponte en contacto</h2> <br>                
                        <h4> <i class="material-icons myicons">email</i>Correo:</h4>            
                        multimediaunam@gmail.com  <hr>
                        <h4><i class="material-icons myicons">http</i> Sitio web: </h4>                
                        <a href="http://mmedia1.fi-b.unam.mx/">mmedia1.fi-b.unam.mx</a> <hr>
                        <h4> <i class="material-icons myicons">public</i>Redes Sociales</h4>
                       <p> <a href="https://www.facebook.com/multimediaFI/" target="blank">@MultimediaFI</a>
                            <img    src="{{url + 'getsImage/' + 'facebook.png'}}" alt="Facebook"
                                    class="twitter1 mx-auto d-block img-fluid"> <br>
                        </p>  
                        <p>
                            <a href="https://twitter.com/MultimediaUNAM">@MultimediaUNAM</a>
                            <img    src="{{url + 'getsImage/' + 'twitter.png'}}" alt="LMeI"
                            class="twitter1 mx-auto d-block img-fluid}"> 
                        </p>   <hr>
                </div>
                <div class="col-10 col-md-6">                
                    <h2> <i class="material-icons myicons">place </i>Ubicación</h2>
                    <p>  Edificio Q "Luis G. Valdés Vallejo", Salón Q006. Planta Baja. Facultad de Ingeniería UNAM. </p>
                    <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d583.084888441274!2d-99.18251405696111!3d19.327860826183983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2smx!4v1520562586089"  height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>    
</div>
<!--  +++++++++++++++++++  FIN Plantilla 3 ++++++++++++++++++++++++++++++ -->