/* ****************** Multimedia ***********************/
.contenido0{
    margin-top: 5%;
    margin-bottom: 10%;
}
.info{
    font-size: 0.8em;
}
.inputMulti{
    width: 100%;
}
.labelcenter{
    text-align: center;
}
.btn-sm{
    margin-right: 2%;
}
.mytable{
    width: 100%;
}
.mat-header-row{
    background-color: rgba(6, 17, 27, 0.9);    
}
.mat-header-cell{
    color: rgb(1, 236, 236);
}
.mat-row:hover{
   color: rgba(24, 39, 53, 0.9);  
   background-color: rgb(1, 236, 236) !important ;
}
.mat-cell:hover{
    color: rgba(24, 39, 53, 0.9);
}
